<footer>
    <div>
        <div>
            <img src="{{ path_views }}/img/logo.webp" alt="Logo do blog Equilíbrio Financeiro" title="Logo do blog Equilíbrio Financeiro" />
            <span>© 2025 Equilíbrio Financeiro</span>
        </div>
        <ul>
            <li><a href="/politica-de-privacidade/">Política de Privacidade</a></li>
            <li><a href="/sobre/">Sobre</a></li>
            <li><a href="/contato/">Contato</a></li>
        </ul>
    </div>
</footer>

{{ wp_footer | raw }}
</body>
</html>