<main>
    <section id="introducao">
        <div>
            <div>
                <h1>Entenda suas finanças de forma simples e acolhedora</h1>
                <p>
                    Bem-vindo ao nosso blog financeiro!
                    Aqui, você encontra conteúdos que tornam o mundo das finanças mais leve e acessível.
                </p>
                <a href="/artigos/">Artigos</a>
            </div>
            <div>
                <img src="{{ path_views }}/img/destaque.webp" alt="Imagem ilustrativa sobre o blog" title="Imagem ilustrativa sobre o blog">
            </div>
        </div>
    </section>

    <section id="destaques">
        <div>
            <h2>Destaques</h2>
            <div class="posts">
                {% for destaque in destaques %}
                <div class="post">
                    <a href="{{ destaque.url }}">
                        <img src="{{ destaque.imagem }}" alt="{{ destaque.titulo }}. {{ destaque.creditoDaImagem }}." title="{{ destaque.titulo }}. {{ destaque.creditoDaImagem }}.">
                        <h3>{{ destaque.titulo }}</h3>
                        <p>{{ destaque.resumo }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="marca">
        <div>
            <div>
                <img src="{{ path_views }}/img/sobre-blog.webp" alt="Imagem ilustrativa sobre o objetivo do blog" title="Imagem ilustrativa sobre o objetivo do blog">
            </div>
            <div>
                <h4>Mais sobre o nosso Blog</h4>
                <p>
                    Bem-vindo ao Equilíbrio Financeiro, seu guia para uma vida financeira equilibrada.
                    Simplificamos conceitos financeiros e oferecemos dicas práticas para decisões informadas.
                    Explore conteúdos sobre planejamento, investimentos e economia doméstica, tudo para promover o equilíbrio nas suas finanças.
                </p>
                <a href="/saiba-mais/">Saiba mais</a>
            </div>
        </div>
    </section>
</main>