<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Equilíbrio Financeiro</title>
    {{ wp_head | raw }}
</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="{{ path_views }}/img/logo.webp" alt="Logo do blog Equilíbrio Financeiro" title="Logo do blog Equilíbrio Financeiro"/>
                <span>Equilíbrio Financeiro</span>
            </a>
            <ul>
                <li><a href="/artigos/">Artigos</a></li>
                <li><a href="/sobre/">Quem Somos</a></li>
                <li><a href="/contato/">Contato</a></li>
            </ul>
        </div>
    </header>