<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Equilíbrio Financeiro">
    <meta name="publisher" content="Equilíbrio Financeiro">
    {% if criterio %}
    <meta name="description" content="Resultados da busca por: {{ criterio }}">
    {% endif %}
    <title>Equilíbrio Financeiro</title>
    {{ wp_head | raw }}
    {% include "partials/google-tag-manager/_head.html" %}
    {% include "partials/ad-manager/_tag.html" %}
</head>
<body>
    {% include "partials/google-tag-manager/_body.html" %}
    <header>
        <div>
            <a href="/">
                <img src="{{ path_views }}/img/logo.webp" alt="Logo do blog Equilíbrio Financeiro" title="Logo do blog Equilíbrio Financeiro" />
                <span>Equilíbrio Financeiro</span>
            </a>
            <ul>
                <li><a href="/artigos/">Artigos</a></li>
                <li><a href="/sobre/">Quem Somos</a></li>
                <li><a href="/contato/">Contato</a></li>
                <li>
                    <form action="/" method="GET">
                        <label>
                            <input type="text" name="s" placeholder="Pesquisar" aria-label="Pesquisar">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </label>
                    </form>
                </li>
            </ul>
        </div>
    </header>