<main>
    <section>
        <ul class="breadcrumbs">
            <li><a href="/">Início<i class="bi bi-arrow-right-circle"></i></a></li>
            <li><a href="/artigos/">Artigos<i class="bi bi-arrow-right-circle"></i></a></li>
            <li>{{ post.titulo }}</li>
        </ul>
    </section>

    <article>
        <h1>{{ post.titulo }}</h1>
        <time>Publicado em {{ post.dataDePublicacaoTraduzida }} {% if post.dataDeAtualizacao %} | Atualizado há {{ post.tempoDesdeUltimaAtualizacao }} {% endif %}</time>
        <img src="{{ post.imagem }}" alt="{{ post.titulo }}" title="{{ post.titulo }}">
        <span id="credito">{{ post.creditoDaImagem }}</span>
        <div id="conteudo">
            {{ post.conteudo | raw | nl2br }}
        </div>
    </article>

    <section>
        <h2>Veja também</h2>
        <ul class="relacionadas">
            {% for post in post.relacionadas %}
            <li class="relacionada">
                <a href="{{ post.url }}">
                    <img src="{{ post.imagem }}" alt="{{ post.titulo }}. {{ post.creditoDaImagem }}" title="{{ post.titulo }}. {{ post.creditoDaImagem }}">
                    <h3>{{ post.titulo }}</h3>
                    <time>Publicado em {{ post.dataDePublicacaoTraduzida }}</time>
                    <p>{{ post.resumo }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>