#introducao {
    width: 100%;
}

#introducao>div {
    max-width: 1280px;
    margin: 20px auto 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#introducao>div div {
    width: 50%;
}

#introducao>div div:nth-of-type(2) img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#introducao>div h1 {
    font-size: 52px;
    width: 65%;
    margin-bottom: 20px;
    font-weight: 600;
}

#introducao>div p {
    width: 50%;
    margin-bottom: 70px;
    line-height: 30px;
}

#introducao>div div:first-child a,
#marca>div div a {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    width: 250px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introducao>div div:first-child a:hover {
    color: #fff;
    background-color: #b8860b;
    transition: all .3s ease;
    border: 1px solid #b8860b;
}

#marca>div div a:hover {
    color: #fff;
    background-color: #b8860b;
    transition: all .3s ease;
    border: 1px solid #b8860b;
}

#destaques {
    width: 100%;
}

#destaques h2 {
    font-size: 42px;
}

#destaques>div {
    max-width: 1280px;
    margin: 55px auto 120px auto;
    width: 100%;
}

#destaques .posts {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#destaques .post {
    width: 32%;
}

#destaques .post img {
    width: 100%;
    height: 375px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#destaques .post a {
    color: #000;
    text-align: justify;
}

#destaques .post a:hover {
    color: #B8860B;
    transition: all 0.3s ease;
}

#destaques .post a p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#marca {
    width: 100%;
}

#marca>div {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto 120px auto;
    display: flex;
    justify-content: space-between;
}

#marca>div div {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#marca>div div:first-child img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#marca>div h4 {
    font-size: 42px;
}

#marca>div div p {
    margin-bottom: 70px;
    line-height: 30px;
    text-align: justify;
}

@media (max-width: 768px) {
    #introducao>div {
        flex-direction: column;
        margin: 20px auto 10px auto;
    }

    #introducao>div div {
        width: 100%;
    }

    #introducao>div div:nth-of-type(2) img {
        display: none;
    }

    #introducao>div h1 {
        font-size: 36px;
        width: 100%;
    }

    #introducao>div p {
        width: 100%;
        margin-bottom: 20px;
    }

    #introducao>div div:first-child a,
    #marca>div div a {
        margin: 0 auto;
        width: 200px;
        height: 50px;
    }

    #destaques>div {
        margin: 0 auto;
    }

    #destaques h2 {
        font-size: 34px;
    }

    #destaques .posts {
        flex-direction: column;
    }

    #destaques .post {
        width: 100%;
        margin-bottom: 50px;
    }

    #destaques .post img {
        height: 300px;
    }

    #destaques .post a p {
        -webkit-line-clamp: 5;
    }

    #marca>div {
        flex-direction: column;
    }

    #marca>div div {
        width: 100%;
    }

    #marca>div div:first-child img {
        display: none;
    }

    #marca>div h4 {
        font-size: 32px;
    }

    #marca>div div p {
        margin-bottom: 50px;
    }
}