header {
    width: 100%;
    border-bottom: 1px solid #dad9d9;
    padding: 20px 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 2;
}

header div {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div ul {
    display: flex;
}

header div ul li {
    margin: 0 20px;
}

header div a {
    color: #000;
}

header div a:hover {
    color:  #B8860B;
    transition: all 0.3s ease;
}

header>div>a {
    font-size: 24px;
    display: flex;
    align-items: center;
}

header img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header div {
        flex-direction: column;
    }

    header div ul {
        margin-top: 20px;
    }

    header div ul li {
        margin: 0 10px;
    }

    header>div>a {
        font-size: 20px;
    }

    header img {
        width: 50px;
        height: 50px;
    }
}