main>section{
    margin: 20px auto;
    max-width: 1280px;
    width: 100%;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    margin-right: 10px;
}
.breadcrumbs li a {
    color: #333;
    text-decoration: none;
}

.breadcrumbs i.bi {
    margin-left: 15px;
    font-size: 22px;
}

article {
    margin: 0px auto 50px;
    max-width: 1280px;
    width: 100%;
}

article img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 40px 0;
}

section:nth-of-type(2) {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.relacionadas {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.relacionadas .relacionada {
    max-width: 350px;
    width: 100%;
}

.relacionadas .relacionada img {
    width: 100%;
    height: 350px;
}

.relacionadas .relacionada p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.relacionadas .relacionada a {
    color: #000;
}

.relacionadas .relacionada a:hover {
    color: #B8860B;
    transition: all 0.3s ease;
}