main>section{
    margin: 30px auto;
    max-width: 1280px;
    width: 100%;
}

.breadcrumbs {
    display: flex;
    align-items: center;
}

.breadcrumbs li {
    margin-right: 10px;
}

.breadcrumbs li:not(:last-child) {
    font-weight: 700;
}

.breadcrumbs li a {
    color: #333;
    text-decoration: none;
}

.breadcrumbs i.bi {
    margin-left: 15px;
    font-size: 18px;
}

article {
    margin: 0px auto 50px;
    max-width: 1280px;
    width: 100%;
}

article>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 40px 0 10px 0;
}

article #conteudo {
    margin-top: 40px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
}

article #conteudo>div:first-of-type {
    width: 75%;
}

article #conteudo img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
}

article #conteudo a {
    font-weight: bold;
}

section:nth-of-type(2) {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.relacionadas {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.relacionadas .relacionada {
    max-width: 350px;
    width: 100%;
}

.relacionadas .relacionada img {
    width: 100%;
    height: 325px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.relacionadas .relacionada p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.relacionadas .relacionada a {
    color: #000;
}

.relacionadas .relacionada a:hover {
    color: #B8860B;
    transition: all 0.3s ease;
}

#credito {
    font-size: 14px;
    color: #333;
}

article #outros-assuntos {
    width: 20%;
}

article #outros-assuntos strong {
    font-size: 26px;
}

article #outros-assuntos ul {
    margin: 20px auto;
    box-shadow: 0 0 8px 2px rgb(184 134 11 / 50%);
    border-radius: 5px;
    padding: 5px 10px;
}

article #outros-assuntos ul li {
    margin: 10px;
    padding: 10px 0;
}

article #outros-assuntos ul li:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

article #outros-assuntos ul li a {
    color: #000;
    font-size: 18px;
}

@media (max-width: 768px) {

    main>section{
        margin: 20px auto;
    }
    article img {
        height: 300px;
    }

    .relacionadas {
        flex-direction: column;
    }

    .relacionadas .relacionada {
        margin-bottom: 20px;
    }

    .relacionadas .relacionada img {
        height: 250px;
    }

    .breadcrumbs {
        display: block;
        line-height: 26px;
    }
    
    .breadcrumbs li {
        margin-right: 10px;
        display: inline;
    }
}